Estudo de caso com Kaggle

In [46]:
# Biblioteca
import pandas as pd

In [47]:
# import treino 

estudo = pd.read_csv('./train_house.csv')

In [48]:
estudo.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [49]:
# Verificando valores nulos

estudo.isnull().sum()

# Visualizando a quantidade de colunas

estudo.isnull().sum().sort_values(ascending=False).head(20)

# Verificando tabelas, nulos >  que 30% 

estudo.columns[(estudo.isnull().sum()/estudo.shape[0]) > 0.3]

Index(['Alley', 'MasVnrType', 'FireplaceQu', 'PoolQC', 'Fence', 'MiscFeature'], dtype='object')

Realizando Limpeza dos Nulos

In [50]:
#Realizando a limpeza

eliminar = estudo.columns[(estudo.isnull().sum()/estudo.shape[0]) > 0.3]
eliminar 

estudo = estudo.drop(eliminar, axis=1)

# Realizando os testes

estudo.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 75, dtype: int64

Eliminar colunas de textos

In [51]:
# verificando colunas de não texto

colunas = estudo.columns[estudo.dtypes != 'object']
colunas

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [52]:
# eliminação das colunas de texto

estudo2 = estudo.loc[:, colunas]
estudo2.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000

Tratar valores vazio

In [53]:
# Verificando valores vazios

estudo2.isnull().sum()

# Substituindo pela media

estudo2.fillna(estudo2.mean(), inplace= True)

Criando o Modelo (Treino e test)

In [54]:
# importanto Bibliotecas
import numpy as np
from sklearn.model_selection import train_test_split

# Selecionado o X e Y

X = estudo2.drop('SalePrice', axis=1)
y = estudo2.SalePrice

# Separando o treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Usando algoritimos

In [55]:
from sklearn.linear_model import LinearRegression

# Regressão linear

# Selecionado o Treino e fazendo o fit
reg_rl = LinearRegression().fit(X_train, y_train)

# Fazendo  a previsão
y_rl = reg_rl.predict(X_test)

In [56]:
from sklearn import tree
# Arvore de regressão
# Criando regressor e fit
reg_ar = tree.DecisionTreeRegressor(random_state=42).fit(X_train, y_train)

# Fazendo  a previsão
y_ar = reg_ar.predict(X_test)

In [57]:
from sklearn.neighbors import KNeighborsRegressor
# KNN
# Criando regressor e fit
reg_knn = KNeighborsRegressor(n_neighbors = 2).fit(X_train, y_train)

# Fazendo  a previsão
y_knn = reg_knn.predict(X_test)

Verificação pelo erro médio Absoluto

In [60]:
from sklearn.metrics import mean_absolute_error

Erro quadrático

In [61]:
from sklearn.metrics import mean_squared_error

avaliando a regressão

In [62]:
# Erro Regre
print(mean_absolute_error(y_test, y_rl))
print(mean_squared_error(y_test, y_rl))

23003.71516492404
1359611455.6644158

In [63]:
# Erro Arvore
print(mean_absolute_error(y_test, y_ar))
print(mean_squared_error(y_test, y_ar))

25848.45890410959
1430357576.328767

In [64]:
# Erro Knn
print(mean_absolute_error(y_test, y_knn))
print(mean_squared_error(y_test, y_knn))

31848.022260273974
2644942666.432363

Fazendo Previsão

In [66]:
# importanto base de teste

teste = pd.read_csv('./test_house.csv')

# visualizando 
teste.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [ ]:
# Eliminando colunas
teste = teste.drop(eliminar, axis=1)

In [76]:
# Colunas numericas
colunas2 = teste.columns[teste.dtypes != 'object']

teste = teste.loc[:,colunas2]

# Vizualizando valores vazios e substituindo pela media

teste.fillna(teste.mean(), inplace= True)

In [78]:
# Regressão Linear da previsão

y_pred = reg_rl.predict(teste)

In [80]:
# Adicioanar a previsão na base

teste['SalePrice'] = y_pred

In [ ]:
# Extração do Id e SalePrice
resultado = teste[['Id', 'SalePrice']]

# Exportação para CSV
resultado.to_csv('resultado.csv', index=False)